* {
  margin: 0px;
}

.recoms {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .recoms {
    flex-direction: column;
    width: 100%;
  }
}

.footer {
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
}

p > a {
  text-decoration: none;
  color: rgb(0, 102, 255);
}

@media only screen and (min-width: 820px) and (max-width: 1026px) {
  .recoms {
    flex-direction: column;
    width: 100%;
  }
}
